@import '../../styles/colors.scss';

.card {
  position: relative;
  width: 328px;
  min-height: 488px;
  padding-left: 48px;
  background: $background-color left -24px bottom -20px  url("../../assets/images/Photo.png") no-repeat;
  background-size: 350px;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  cursor: pointer;
  border: 4px solid $default;
  transition: all 0.3s ease-in-out;

  &:hover {
    border-color: $hover;
  }

  &:hover>.oval,
  &:hover:before {
    background-color: $hover;
  }
}

.card:before {
  content: '';
  position: absolute;
  top: 19px;
  left: -15px;
  width: 70px;
  height: 6px;
  background-color: $default;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}

.card__heroText {
  padding: 21px 0 5px;
  color: $font-grey;
}

.card__heroTextSelectedHover {
  padding: 21px 0 5px;
  color: $selected-hover;
}

.card__title {
  font-size: 48px;
  font-weight: 700;
}

.card__subtitle {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.card__description {
  font-size: 14px;
  font-weight: 700;
  color: $font-grey;
}

.oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $default;
  color: $font-white;
  transition: all .3s ease-in-out;
}

.oval__weight {
  font-size: 42px;
  line-height: 42px;
}

.oval__unit {
  font-size: 21px;
  line-height: 22px;
}

.card_active {
  border-color: $selected;

  &:before {
    background-color: $selected;
  }

  &:hover {
    border-color: $selected-hover;
  }

  &:hover:before,
  &:hover>.oval {
    background-color: $selected-hover;
  }
}

.oval_active {
  background-color: $selected;

  &:hover {
    background-color: $selected-hover;
  }
}





