@import '../../styles/colors.scss';

.cardBorder {
  position: relative;
  width: 328px;
  min-height: 488px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  background-color: $default;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background-color: $hover;
  }

  &:hover>.card>.oval {
    background-color: $hover;
  }
}

.card {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 320px;
  min-height: 480px;
  padding-left: 48px;
  background: $background-color left -24px bottom -20px  url("../../assets/images/Photo.png") no-repeat;
  background-size: 350px;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  overflow:hidden; 
  cursor: pointer;
}

.card__heroText {
  padding: 21px 0 5px;
  color: $font-grey;
}

.card__heroTextSelectedHover {
  padding: 21px 0 5px;
  color: $selected-hover;
}

.card__title {
  font-size: 48px;
  font-weight: 700;
}

.card__subtitle {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.card__description {
  font-size: 14px;
  font-weight: 700;
  color: $font-grey;
}

.oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $default;
  color: $font-white;
  transition: all .3s ease-in-out;
}

.oval__weight {
  font-size: 42px;
  line-height: 42px;
}

.oval__unit {
  font-size: 21px;
  line-height: 22px;
}

.cardBorder_active,
.oval_active {
  background-color: $selected;

  &:hover {
    background-color: $selected-hover;
  }

  &:hover>.card>.oval {
    background-color: $selected-hover;
  }
}





