@import '../../styles/colors.scss';

.card {
  position: relative;
  width: 320px;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  background: $background-color;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  cursor: pointer;
  border: 4px solid $default;
  font-weight: 400;
  transition: all 0.3s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 19px;
    left: -15px;
    width: 70px;
    height: 6px;
    background-color: $default;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }

  &:hover:not(.card_selected,.card_selectedHover) {
    border-color: $hover;
  }

  &:hover:not(.card_selected,.card_selectedHover)>.oval,
  &:hover:not(.card_selected,.card_selectedHover):before {
    background-color: $hover;
  }

  &_selected {
    border-color: $selected;
  
    &:before {
      background-color: $selected;
    }
  }

  &_selectedHover {
    border-color: $selected-hover;
  }

  &_selectedHover:before,
  &_selectedHover>.oval {
    background-color: $selected-hover;
  }
}

.card__wrapperText {
  padding-left: 48px;
  flex-grow: 1;
  margin-bottom: 10px;

  .card__heroText {
    padding: 21px 0 5px;
    color: $font-grey;
    font-size: 16px;
    line-height: 19px;
  }
  
  .card__heroTextSelectedHover {
    padding: 21px 0 5px;
    color: $selected-hover;
    font-size: 16px;
    line-height: 19px;
  }
  
  .card__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }
  
  .card__subtitle {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  
  .card__descriptionList {
    color: $font-grey;
    font-size: 14px;
    line-height: 16px;
  }
}

.card__image {
  opacity: 1;
}

.oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $default;
  color: $font-white;
  font-weight: 400;
  hyphens: auto;
  transition: all .3s ease-in-out;

  &__weight {
    font-size: 42px;
    line-height: 42px;
  }

  &__unit {
    font-size: 21px;
    line-height: 22px;
  }

  &_selected {
    background-color: $selected;
  }
}







