@import '../../../styles/colors.scss';

.tagline {
  margin-top: 14px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: $font-white;
}

.taglineBtn {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: $default;
  font-weight: 700;
  border-bottom: 1px dashed $default;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    color: $hover;
    border-color: $hover;
  }
}

.dot {
  color: $default;
  font-weight: 700;
}