@import '../../../styles/colors.scss';

.tagline {
  margin-top: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: $font-white;

  .tagline__btn {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: $default;
    border-bottom: 1px dashed $default;
    cursor: pointer;
    transition: all .3s ease-in-out;
  
    &:hover {
      color: $hover;
      border-color: $hover;
    }
  }

  .tagline__dot {
    color: $default;
  }
}
