@import '../../styles/colors.scss';

.cardBorder {
  position: relative;
  width: 328px;
  height: 488px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  background-color: $font-disabled;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.card {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 320px;
  height: 480px;
  padding-left: 48px;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  overflow:hidden; 
  cursor: pointer;
  background: $background-color left -24px bottom -20px  url("../../assets/images/Photo-50.png") no-repeat;
  background-size: 350px;
  color: $font-disabled;
  cursor: auto;
}

.card__heroText {
  padding: 21px 0 5px;
}

.card__title {
  font-size: 48px;
  font-weight: 700;
}

.card__subtitle {
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}

.card__description {
  font-size: 14px;
  font-weight: 700;
}

.oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $font-disabled;
  color: $font-white;
  transition: all .3s ease-in-out;
}

.oval__weight {
  font-size: 42px;
  line-height: 42px;
}

.oval__unit {
  font-size: 21px;
  line-height: 22px;
}

.tagline{
  margin-top: 14px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: $font-yellow;
}






