@import '../../styles/colors.scss';

.card {
  position: relative;
  width: 328px;
  min-height: 488px;
  padding-left: 48px;
  background: $background-color;
  border-radius: 10px;
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  border: 4px solid $font-disabled;
  color: $font-disabled;
  font-weight: 400;
  cursor: no-drop;

  &:before {
    content: '';
    position: absolute;
    top: 19px;
    left: -15px;
    width: 70px;
    height: 6px;
    background-color: $font-disabled;
    transform: rotate(-45deg);
  }
}

.card__image {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

.card__heroText {
  padding: 21px 0 5px;
  font-size: 16px;
  line-height: 19px;
}

.card__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.card__subtitle {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.oval {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $font-disabled;
  color: $font-white;
  transition: all .3s ease-in-out;
}

.oval__weight {
  font-size: 42px;
  line-height: 42px;
}

.oval__unit {
  font-size: 21px;
  line-height: 22px;
}

.tagline{
  margin-top: 14px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: $font-yellow;
}






